@import '@styles/_variables.scss';
@import '@styles/_mixins.scss';

.container {
  &.variant1 {
    padding: 18px 80px 18px 80px;
    @media screen and (max-width: $mobileBreakpoint) {
      padding: 18px;
    }
  }
  &.variant2 {
    padding: 128px 336px 0 336px;
    @media screen and (max-width: $mobileBreakpoint) {
      padding: 28px 36px 0 36px;
    }
  }

}
