@import '@styles/_variables.scss';
.button {
  padding: 16px 48px;
  border: none;
  color: $black;
  &:disabled {
    background-color: $mediumGrey !important;
    cursor: not-allowed !important;
    &:hover {
      cursor: not-allowed;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &.primary {
    background-color: $yellow;
    &:hover {
      background-color: $yellowHover;
    }
  }
  &.secondary {
    background-color: $light;
    &:hover {
      background-color: $lightGrey;
    }
  }
}
