@import '@styles/_variables';
@import '@styles/_mixins';

.categoriesContainer {
  margin-top: $gap48;
  column-gap: $gap32;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: $size228;
  @media screen and (max-width: $mobileBreakpoint) {
    grid-template-rows: repeat(4, 1fr);
    row-gap: $gap32;
    grid-template-columns: 1fr;
  }
}
.smallCategoriesContainer {
  @include flex(null, null, column, $gap24);
}
