@mixin font(
  $fontSize,
  $lineHeight,
  $fontFamily1: Sen,
  $fontFamily2: OpenRegular
) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: $fontFamily1, $fontFamily2;
}
@mixin flex(
  $justifyContent: flex-start,
  $alignItems: flex-start,
  $flexDirection: row,
  $gap: 0
) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
  gap: $gap;
}
