$black: #232536;
$light: #ffffff;
$yellow: #ffd050;
$yellowHover: #edc14a;
$purple: #592ea9;
$darkGrey: #4c4c4c;
$mediumGrey: #6d6e76;
$lightGrey: #f4f4f4;
$lavender: #f4f0f8;
$lightYellow: #fbf6ea;

$greyText: #6D6E76;