$black: #232536;
$light: #ffffff;
$yellow: #ffd050;
$yellowHover: #edc14a;
$purple: #592ea9;
$darkGrey: #4c4c4c;
$mediumGrey: #6d6e76;
$lightGrey: #f4f4f4;
$lavender: #f4f0f8;
$lightYellow: #fbf6ea;
$greyText: #6d6e76;
$red: #ff0000;
$mobileBreakpoint: 1140px;

$gap8: 8px;
$gap16: 16px;
$gap20: 20px;
$gap32: 32px;
$gap64: 64px;
$gap44: 44px;
$gap48: 48px;
$gap24: 24px;
$gap80: 80px;
$gap96: 96px;
$gap128: 128px;
$gap336: 336px;

$selectItemZIndex: 1;

$size10: 10px;
$size14: 14px;
$size24: 24px;
$size20: 20px;
$size32: 32px;
$size48: 48px;
$size44: 44px;
$size64: 64px;
$size80: 80px;
$size100: 100px;
$size128: 128px;
$size228: 228px;
$size350: 350px;
$size405: 405px;
$size505: 505px;
$size615: 615px;
$size680: 680px;
$size815: 815px;

$aspectRatio1: 3/2;
$aspectRatio2: 4/3;

$borderSize1: 1px;
$borderSize2: 2px;
