@import '@styles/_mixins';
@import '@styles/_variables';
.page {
  .pageTitle {
    @include flex(flex-start, center, column);
    & > * {
      width: 100%;
    }
    & > span {
      text-align: center;
    }
  }

  .scheduleBlock {
    background-color: $purple;
    padding: 48px 64px;
    @include flex(center, flex-start, row, 42px);
    @media screen and (max-width: $mobileBreakpoint) {
      padding: 24px 32px;
      @include flex(center, flex-start, column, 42px);
    }
    color: $lightGrey;
    & > div {
      width: 100%;
      @include flex(flex-start, flex-start, column);
      & > hr {
        width: 100%;
      }
      & > * {
        margin-bottom: 16px;
      }
    }
  }
  .contactForm {
    margin-top: 32px;
    color: $black;
    @include flex(flex-start, center, column,8px);
    & > * {
      width: 100%;
      margin-bottom: 16px;
    }
    & > *:last-child {
      margin-bottom: 70px;
    }
  }
}
