@import '@styles/_mixins.scss';
@import '@styles/_variables.scss';
.app {
  @include flex(space-between, null, column, 0px);
  min-height: 100vh;
  & > div:nth-child(2) {
    flex-grow: 1;
  }
}
.locale a:after {
  display: none;
}
.video {
  @include flex(center, center);
  position: relative;
  & iframe {
    min-width: $size405;
    @media screen and (max-width: $mobileBreakpoint) {
      min-width: 0;
      max-width: 100%;
    }
  }
}
