@import '@styles/mixins';
@import '@styles/variables';
.card {
  background-color: $lightGrey;
  &:hover {
    background-color: $lightYellow;
  }
  @include flex(center, center, column, $gap24);
  padding: $gap48;
  .avatar {
    max-width: $size128;
    width: 100%;
    & > img {
      width: 100%;
      border-radius: $size405;
      object-fit: cover;
      aspect-ratio: 1;
      height: auto;
    }
  }
}
