@import "@styles/_variables";
@import "@styles/_mixins";
.footer {
  background-color: $black;
  color: $light;
  .subscribeBlock {
    background-color: rgba($light,0.05);
    padding: 80px 64px;
    @include flex(space-between, center,null,20px);
    & > span {
      flex-grow: 2;
    }
  }
  .socialBlock {
    @include flex(space-between, center,null);
    & > div > svg > path {
      fill:$greyText
    }
    &> span{
      max-width: 300px;
    }
  }
}