@import '@styles/_variables';
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $gap80;
  .message {
    font-size: 40px;
  }
  .stack {
    font-size: 20px;
  }
}
